<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeApp</title>

    {% comment %} style {% endcomment %}
    <link rel="stylesheet" href="../style/stylesheet.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/style-detail.css">
    <link rel="stylesheet" href="../style/keyframes.css">


    <script src="../script/lightmode.js" defer> </script>
    <script src="../script/prevents-default.js" defer> </script>


    {% comment %} count function {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.6.2/countUp.min.js"></script>

</head>