<nav id="header">

    <div id="header-elements">
        <picture id="pokemon-logo">
            <source srcset="../assets/general/PokemonLogo-1.avif" type="image/avif">
            <source srcset="../assets/general/PokemonLogo-1.webp" type="image/webp">
        <img src="../assets/general/PokemonLogo-1.png" alt="pokemon-logo" width="200" height="50">
        </picture>

        {% comment %} in de form element kan je opzoek gaan naar de pokemon {% endcomment %}
        <form action="search" method="get" aria-label="Search" id="form-search">
            <input type="search" name="p" required id="search-input" placeholder="SEARCH.." size="15">
            <button>
                <img src="../assets/general/search.png" height="20" width="17">
            </button>
        </form>
    </div>

    <div id="controller">
        <a href="/" 
        id="pokemon-button"
        aria-label="All Pokemons"
        > 
            <picture>
            <img src="../assets/general/gathering.png" alt="gather-icon" width="25" height="25">
            </picture>
        </a>
        
        {% render 'views/partials/darkmode.liquid' %}
    </div>
</nav>