
@keyframes move-out {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(-100%);
    }
  }
  
  @keyframes move-in {
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0%);
    }
  }


@keyframes border-animation {
    0% {
        scale: 3;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes animation-hover {
    0% {
        scale: 0;
    }

    100% {
        scale: 0.5;
        rotate: -20deg;
    }
}

@keyframes shadow-scale {
    0% {
        scale: 1;
        filter: drop-shadow(0 0 0);
    }

    100% {
        scale: 1.3;
        filter: drop-shadow(0 0 1em rgb(18, 18, 18));
    }
}

@keyframes pulse {
    0% {
        scale: 100%;
    }

    20% {
        scale: 96%;
    }

    40% {
        scale: 104%;
    }

    60% {
        scale: 96%;
    }

    80% {
        scale: 104%;
    }
}