:root {
    /* colorscheme */
    color-scheme: light dark;

    --color-pokemon-type-grass: #bee2b7;
    --color-pokemon-type-grass-2: #6f8a6a;
    
    --color-pokemon-type-normal: #bdbdbd;
    --color-pokemon-type-normal-2: #6b6868;
    
    --color-pokemon-type-fire: #ffb3be;
    --color-pokemon-type-fire-2: #81444d;
    
    --color-pokemon-type-water: #a5b7ff;
    --color-pokemon-type-water-2: #334691;
    
    --color-pokemon-type-flying: #aaccff;
    --color-pokemon-type-flying-2: #345889;
    
    --color-pokemon-type-fighting: #e9a8a4;
    --color-pokemon-type-fighting-2: #a04d4a;
    
    --color-pokemon-type-poison: #dbbfe7;
    --color-pokemon-type-poison-2: #835c9a;
    
    --color-pokemon-type-electric: #ffe987;
    --color-pokemon-type-electric-2: #b29a3b;
    
    --color-pokemon-type-ground: #d29e83;
    --color-pokemon-type-ground-2: #7b573c;
    
    --color-pokemon-type-rock: #ababab;
    --color-pokemon-type-rock-2: #5e5e5e;
    
    --color-pokemon-type-psychic: #ffbbf4;
    --color-pokemon-type-psychic-2: #b068a3;
    
    --color-pokemon-type-ice: #9dd1ff;
    --color-pokemon-type-ice-2: #4a7ba6;
    
    --color-pokemon-type-bug: #c7f8cc;
    --color-pokemon-type-bug-2: #68995b;
    
    --color-pokemon-type-ghost: #c095d4;
    --color-pokemon-type-ghost-2: #724a85;
    
    --color-pokemon-type-steel: #c2c2c2;
    --color-pokemon-type-steel-2: #6a6a6a;
    
    --color-pokemon-type-dragon: #6aa4f5;
    --color-pokemon-type-dragon-2: #30578f;
    
    --color-pokemon-type-dark: #999999;
    --color-pokemon-type-dark-2: #4c4c4c;
    
    --color-pokemon-type-fairy: #ffa1eb;
    --color-pokemon-type-fairy-2: #b55f98;

    /* header elements */
    --color-dark: #3b3b3b;
    --color-light: #dcdcff;
    --color-day: #acacdd;



    /* font-sizes */
    --font-h1-dekstop: 128px;
    --font-h1-tablet: 96px;
    --font-h1-mobile: 64px;

    --font-h2-desktop: 96px;
    --font-h2-tablet: 64px;
    --font-h2-mobile: 48px;

    --font-h3-desktop: 64px;
    --font-h3-tablet: 36px;
    --font-h3-mobile: 24px;

    --font-p-desktop: 20px;
    --font-p-tablet: 16px;
    --font-p-mobile: 12px;

    /* border */

    --border-desktop: 2px solid var(var(--color-pokemon-type-electric));
    --border-tablet: 1.5px solid var(var(--color-pokemon-type-electric));
    --border-mobile: 1px solid var(var(--color-pokemon-type-electric));
}

[data-theme="dark"] {
    --color-light: #0f0f43;
    --color-dark: #d3d3d3;
    --color-day: #21104b;
  }

* {
    text-decoration: none;
}


h1 {
    font-family: "Arial";
    font-weight: 800;
    font-size: var(--font-h1-dekstop);
    color: var(--color-grey);

    @media screen and (max-width: 1080px) {
        font-size: var(--font-h1-tablet);
        font-weight: 600;
    }

    @media screen and (max-width: 720px) and (max-width: 1079px) {
        font-size: var(--font-h1-mobile);
        font-weight: 400;
    }
}



h2 {
    font-family: "Arial";
    font-weight: 800;
    font-size: var(--font-h2-dekstop);
    text-decoration: none;

    @media screen and (max-width: 1080px) {
        font-size: var(--font-h2-tablet);
        font-weight: 600;
    }

    @media screen and (max-width: 720px) and (min-width: 1079px) {
        font-size: var(--font-h2-mobile);
        font-weight: 400;
    }
}

h3 {
    font-family: "Arial";
    font-weight: 500;
    font-size: var(--font-h3-dekstop);
    text-decoration: none;

    @media screen and (max-width: 1080px) {
        font-size: var(--font-h3-tablet);
        font-weight: 400;
    }
    
    @media screen and (max-width: 720px) and (min-width: 1079px) {
        font-size: var(--font-h3-mobile);
        font-weight: 200;
    }
}

p {
    font-family: "Pokemon-font";
    font-weight: 500;
    font-size: var(--font-p-dekstop);
    text-decoration: none;

    @media screen and (max-width: 1080px) {
        font-size: var(--font-p-tablet);
        font-weight: 400;
    }
    
    @media screen and (max-width: 720px) and (min-width: 1079px) {
        font-size: var(--font-p-mobile);
        font-weight: 200;
    }
}




:focus {
    border: var(--border-desktop);

    @media screen and (max-width: 1080px) {
        border: var(--border-tablet);
    }
    
    @media screen and (max-width: 720px) and (min-width: 1079px) {
        border: var(--border-mobile);
    }
}

@font-face {
    font-family: "Pokemon-font";
    src: 
        url("../assets/general/pokemon-classic.ttf") format("truetype");
}

body.sun {
    --bg-color: #ffffff;
    --text-color: #000000;
  }

  body.moon {
    --bg-color: #121212;
    --text-color: #f0f0f0;
  }