#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#body-index {
    display: grid;
    grid-template-columns: 30% 70%;

    h1 {
        font-size: 24px;
        background-color:  var(--color-primary-daylight):
    }
}

#header {
    background-color: var(--color-darkgrey);

    label {
        color: var(--color-dark);

    }
    h1 {
        color: var(--color-dark);
    }

    button {
        background-color: var(--color-light);
        color: var(--color-dark);
    }

}

#header-elements {
    padding: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#controller {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    align-items: flex-end;

    button {
        border: var(--border-desktop);
    }
}

main {
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    grid-template-rows: repeat(6 ,1fr);
    gap: 0.4em;
    padding: 1em;
    background-color: var(--color-day);
    overflow: auto;
}

#name {
    display: none;
}

a:hover ~ #name {
    display: block;
}


article {
    display: flex;
    padding: 1em;
    justify-content: center;
    border: var(--border-desktop);

}

.sunicon {
    padding: 2em;
}


.hidden {
    display: none;
} 



#search-input {
    background-color: var(--color-night);
    color: var(--color-light);
    height: 3em;
    border-radius: 1em;
    font-family: "Pokemon-font";
    border: var(--border-desktop);
}


#rectangle {
    display: inline-block;
    background-color: var(--color-day);
}




