:root {
    /* colorscheme */
    color-scheme: light dark;

    --color-darkgrey: #474747;
    --color-balloon: #ffb700;

    --color-pokemon-type-grass: #bee2b7;
    --color-pokemon-type-grass-2: #6f8a6a;
    --color-pokemon-type-grass-3: #3ca729;
  
    --color-pokemon-type-normal: #bdbdbd;
    --color-pokemon-type-normal-2: #6b6868;
    --color-pokemon-type-normal-3: #3e3e3e;
  
    --color-pokemon-type-fire: #ffb3be;
    --color-pokemon-type-fire-2: #81444d;
    --color-pokemon-type-fire-3: #4e2a27;
  
    --color-pokemon-type-water: #a5b7ff;
    --color-pokemon-type-water-2: #334691;
    --color-pokemon-type-water-3: #1d2c6d;
  
    --color-pokemon-type-flying: #aaccff;
    --color-pokemon-type-flying-2: #345889;
    --color-pokemon-type-flying-3: #1c3456;
  
    --color-pokemon-type-fighting: #e9a8a4;
    --color-pokemon-type-fighting-2: #a04d4a;
    --color-pokemon-type-fighting-3: #632624;
  
    --color-pokemon-type-poison: #dbbfe7;
    --color-pokemon-type-poison-2: #835c9a;
    --color-pokemon-type-poison-3: #4c3360;
  
    --color-pokemon-type-electric: #ffe987;
    --color-pokemon-type-electric-2: #b29a3b;
    --color-pokemon-type-electric-3: #7e6c24;
  
    --color-pokemon-type-ground: #d29e83;
    --color-pokemon-type-ground-2: #7b573c;
    --color-pokemon-type-ground-3: #503622;
  
    --color-pokemon-type-rock: #ababab;
    --color-pokemon-type-rock-2: #5e5e5e;
    --color-pokemon-type-rock-3: #363636;
  
    --color-pokemon-type-psychic: #ffbbf4;
    --color-pokemon-type-psychic-2: #b068a3;
    --color-pokemon-type-psychic-3: #743570;
  
    --color-pokemon-type-ice: #9dd1ff;
    --color-pokemon-type-ice-2: #4a7ba6;
    --color-pokemon-type-ice-3: #285177;
  
    --color-pokemon-type-bug: #c7f8cc;
    --color-pokemon-type-bug-2: #68995b;
    --color-pokemon-type-bug-3: #3c5c33;
  
    --color-pokemon-type-ghost: #c095d4;
    --color-pokemon-type-ghost-2: #724a85;
    --color-pokemon-type-ghost-3: #42294e;
  
    --color-pokemon-type-steel: #c2c2c2;
    --color-pokemon-type-steel-2: #6a6a6a;
    --color-pokemon-type-steel-3: #3c3c3c;
  
    --color-pokemon-type-dragon: #6aa4f5;
    --color-pokemon-type-dragon-2: #30578f;
    --color-pokemon-type-dragon-3: #1a2e53;
  
    --color-pokemon-type-dark: #999999;
    --color-pokemon-type-dark-2: #4c4c4c;
    --color-pokemon-type-dark-3: #292929;
  
    --color-pokemon-type-fairy: #ffa1eb;
    --color-pokemon-type-fairy-2: #b55f98;
    --color-pokemon-type-fairy-3: #793866;
    
    --color-pokemon-type-grass: #2a7f1e;
    --color-pokemon-type-normal: #2b2b2b;
    --color-pokemon-type-fire: #391c1a;
    --color-pokemon-type-water: #141f4a;
    --color-pokemon-type-flying: #122941;
    --color-pokemon-type-fighting: #411a19;
    --color-pokemon-type-poison: #321f47;
    --color-pokemon-type-electric: #5e511c;
    --color-pokemon-type-ground: #3d2517;
    --color-pokemon-type-rock: #222222;
    --color-pokemon-type-psychic: #5a2a59;
    --color-pokemon-type-ice: #1b3b5a;
    --color-pokemon-type-bug: #2a4025;
    --color-pokemon-type-ghost: #311d3a;
    --color-pokemon-type-steel: #2a2a2a;
    --color-pokemon-type-dragon: #111d39;
    --color-pokemon-type-dark: #1a1a1a;
    --color-pokemon-type-fairy: #5a2443;

    --brightness: brightness(0%) invert(1);

    /* header elements */
    --color-dark: #3b3b3b;
    --color-light: #dcdcff;
    --color-day: #acacdd;
    --color-night: #21104b;
    --color-yelllow: #FFCB05;
    --color-blue: #3B5BA7;
    



    /* font-sizes */
    --font-h1-dekstop: 128px;
    --font-h1-tablet: 96px;
    --font-h1-mobile: 64px;

    --font-h2-desktop: 96px;
    --font-h2-tablet: 64px;
    --font-h2-mobile: 48px;

    --font-h3-desktop: 64px;
    --font-h3-tablet: 36px;
    --font-h3-mobile: 24px;

    --font-p-desktop: 20px;
    --font-p-tablet: 16px;
    --font-p-mobile: 12px;

    /* border */

    --border-desktop: 2px solid var(var(--color-pokemon-type-electric));
    --border-tablet: 1.5px solid var(var(--color-pokemon-type-electric));
    --border-mobile: 1px solid var(var(--color-pokemon-type-electric));
}

[data-theme="dark"] {
    /* inverted colors */
    --color-light: #0f0f43;
    --color-dark: #d3d3d3;
    --color-day: #21104b;
    --color-night: #acacdd;
    --color-blue: #FFCB05;
    --color-yellow: #3B5BA7;
    --color-balloon: #ffb300;

    --color-pokemon-type-grass: #bee2b7;
    --color-pokemon-type-grass-2: #6f8a6a;
    --color-pokemon-type-grass-3: #3ca729;
  
    --color-pokemon-type-normal: #bdbdbd;
    --color-pokemon-type-normal-2: #6b6868;
    --color-pokemon-type-normal-3: #3e3e3e;
  
    --color-pokemon-type-fire: #ffb3be;
    --color-pokemon-type-fire-2: #81444d;
    --color-pokemon-type-fire-3: #4e2a27;
  
    --color-pokemon-type-water: #a5b7ff;
    --color-pokemon-type-water-2: #334691;
    --color-pokemon-type-water-3: #1d2c6d;
  
    --color-pokemon-type-flying: #aaccff;
    --color-pokemon-type-flying-2: #345889;
    --color-pokemon-type-flying-3: #1c3456;
  
    --color-pokemon-type-fighting: #e9a8a4;
    --color-pokemon-type-fighting-2: #a04d4a;
    --color-pokemon-type-fighting-3: #632624;
  
    --color-pokemon-type-poison: #dbbfe7;
    --color-pokemon-type-poison-2: #835c9a;
    --color-pokemon-type-poison-3: #4c3360;
  
    --color-pokemon-type-electric: #ffe987;
    --color-pokemon-type-electric-2: #b29a3b;
    --color-pokemon-type-electric-3: #7e6c24;
  
    --color-pokemon-type-ground: #d29e83;
    --color-pokemon-type-ground-2: #7b573c;
    --color-pokemon-type-ground-3: #503622;
  
    --color-pokemon-type-rock: #ababab;
    --color-pokemon-type-rock-2: #5e5e5e;
    --color-pokemon-type-rock-3: #363636;
  
    --color-pokemon-type-psychic: #ffbbf4;
    --color-pokemon-type-psychic-2: #b068a3;
    --color-pokemon-type-psychic-3: #743570;
  
    --color-pokemon-type-ice: #9dd1ff;
    --color-pokemon-type-ice-2: #4a7ba6;
    --color-pokemon-type-ice-3: #285177;
  
    --color-pokemon-type-bug: #c7f8cc;
    --color-pokemon-type-bug-2: #68995b;
    --color-pokemon-type-bug-3: #3c5c33;
  
    --color-pokemon-type-ghost: #c095d4;
    --color-pokemon-type-ghost-2: #724a85;
    --color-pokemon-type-ghost-3: #42294e;
  
    --color-pokemon-type-steel: #c2c2c2;
    --color-pokemon-type-steel-2: #6a6a6a;
    --color-pokemon-type-steel-3: #3c3c3c;
  
    --color-pokemon-type-dragon: #6aa4f5;
    --color-pokemon-type-dragon-2: #30578f;
    --color-pokemon-type-dragon-3: #1a2e53;
  
    --color-pokemon-type-dark: #999999;
    --color-pokemon-type-dark-2: #4c4c4c;
    --color-pokemon-type-dark-3: #292929;
  
    --color-pokemon-type-fairy: #ffa1eb;
    --color-pokemon-type-fairy-2: #b55f98;
    --color-pokemon-type-fairy-3: #793866;

    --brightness: brightness(0%);


  }

* {
    text-decoration: none;
}


h1 {
    font-family: "Arial";
    font-weight: 800;
    font-size: var(--font-h1-dekstop);
    color: var(--color-grey);

    @media screen and (max-width: 1080px) {
        font-size: var(--font-h1-tablet);
        font-weight: 600;
    }

    @media screen and (max-width: 720px) and (max-width: 1079px) {
        font-size: var(--font-h1-mobile);
        font-weight: 400;
    }
}



h2 {
    font-family: "Arial";
    font-weight: 800;
    font-size: var(--font-h2-dekstop);
    text-decoration: none;

    @media screen and (max-width: 1080px) {
        font-size: var(--font-h2-tablet);
        font-weight: 600;
    }

    @media screen and (max-width: 720px) and (min-width: 1079px) {
        font-size: var(--font-h2-mobile);
        font-weight: 400;
    }
}

h3 {
    font-family: "Arial";
    font-weight: 500;
    font-size: var(--font-h3-dekstop);
    text-decoration: none;

    @media screen and (max-width: 1080px) {
        font-size: var(--font-h3-tablet);
        font-weight: 400;
    }
    
    @media screen and (max-width: 720px) and (min-width: 1079px) {
        font-size: var(--font-h3-mobile);
        font-weight: 200;
    }
}

p {
    font-family: "Pokemon-font";
    font-weight: 500;
    font-size: var(--font-p-dekstop);
    text-decoration: none;

    @media screen and (max-width: 1080px) {
        font-size: var(--font-p-tablet);
        font-weight: 400;
    }
    
    @media screen and (max-width: 720px) and (min-width: 1079px) {
        font-size: var(--font-p-mobile);
        font-weight: 200;
    }
}




:focus {
    border: var(--border-desktop);

    @media screen and (max-width: 1080px) {
        border: var(--border-tablet);
    }
    
    @media screen and (max-width: 720px) and (min-width: 1079px) {
        border: var(--border-mobile);
    }
}

@font-face {
    font-family: "Pokemon-font";
    src: 
        url("../assets/general/pokemon-classic.ttf") format("truetype");
}

body.sun {
    --bg-color: #ffffff;
    --text-color: #000000;
  }

  body.moon {
    --bg-color: #121212;
    --text-color: #f0f0f0;
  }

  #type-grass {
    background-color: var(--color-pokemon-type-grass);
    border: 2px solid var(--color-pokemon-type-grass-2);

    @media screen (max-width:1080px) {
        border: 1.5px solid var(--color-pokemon-type-grass-2);
    }

    @media screen (max-width:720px) {
        border: 1px solid var(--color-pokemon-type-grass-2);
    }
  }

  #type-fire {
    background-color: var(--color-pokemon-type-fire);
    border: 2px solid var(--color-pokemon-type-fire-2);

    @media screen (max-width:1080px) {
        border: 1.5px solid var(--color-pokemon-type-fire-2);
    }

    @media screen (max-width:720px) {
        border: 1px solid var(--color-pokemon-type-fire-2);
    }
  }

  #type-normal {
    background-color: var(--color-pokemon-type-normal);
    border: 2px solid var(--color-pokemon-type-normal-2);

    @media screen (max-width:1080px) {
        border: 1.5px solid var(--color-pokemon-type-normal-2);
    }

    @media screen (max-width:720px) {
        border: 1px solid var(--color-pokemon-type-normal-2);
    }
  }

  #type-water {
    background-color: var(--color-pokemon-type-water);
    border: 2px solid var(--color-pokemon-type-water-2);

    @media screen (max-width:1080px) {
        border: 1.5px solid var(--color-pokemon-type-water-2);
    }

    @media screen (max-width:720px) {
        border: 1px solid var(--color-pokemon-type-water-2);
    }
  }

  #type-flying {
    background-color: var(--color-pokemon-type-flying);
    border: 2px solid var(--color-pokemon-type-flying-2);

    @media screen (max-width:1080px) {
        border: 1.5px solid var(--color-pokemon-type-flying-2);
    }

    @media screen (max-width:720px) {
        border: 1px solid var(--color-pokemon-type-flying-2);
    }
  }

  #type-fighting {
    background-color: var(--color-pokemon-type-fighting);
    border: 2px solid var(--color-pokemon-type-fighting-2);

    @media screen (max-width:1080px) {
        border: 1.5px solid var(--color-pokemon-type-fighting-2);
    }

    @media screen (max-width:720px) {
        border: 1px solid var(--color-pokemon-type-fighting-2);
    }
  }


#type-poison {
    background-color: var(--color-pokemon-type-poison);
    border: 2px solid var(--color-pokemon-type-poison-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-poison-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-poison-2);
    }
}

#type-electric {
    background-color: var(--color-pokemon-type-electric);
    border: 2px solid var(--color-pokemon-type-electric-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-electric-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-electric-2);
    }
}

#type-ground {
    background-color: var(--color-pokemon-type-ground);
    border: 2px solid var(--color-pokemon-type-ground-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-ground-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-ground-2);
    }
}

#type-rock {
    background-color: var(--color-pokemon-type-rock);
    border: 2px solid var(--color-pokemon-type-rock-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-rock-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-rock-2);
    }
}

#type-psychic {
    background-color: var(--color-pokemon-type-psychic);
    border: 2px solid var(--color-pokemon-type-psychic-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-psychic-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-psychic-2);
    }
}

#type-ice {
    background-color: var(--color-pokemon-type-ice);
    border: 2px solid var(--color-pokemon-type-ice-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-ice-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-ice-2);
    }
}

#type-bug {
    background-color: var(--color-pokemon-type-bug);
    border: 2px solid var(--color-pokemon-type-bug-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-bug-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-bug-2);
    }
}

#type-ghost {
    background-color: var(--color-pokemon-type-ghost);
    border: 2px solid var(--color-pokemon-type-ghost-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-ghost-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-ghost-2);
    }
}

#type-steel {
    background-color: var(--color-pokemon-type-steel);
    border: 2px solid var(--color-pokemon-type-steel-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-steel-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-steel-2);
    }
}

#type-dragon {
    background-color: var(--color-pokemon-type-dragon);
    border: 2px solid var(--color-pokemon-type-dragon-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-dragon-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-dragon-2);
    }
}

#type-dark {
    background-color: var(--color-pokemon-type-dark);
    border: 2px solid var(--color-pokemon-type-dark-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-dark-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-dark-2);
    }
}

#type-fairy {
    background-color: var(--color-pokemon-type-fairy);
    border: 2px solid var(--color-pokemon-type-fairy-2);

    @media screen and (max-width: 1080px) {
        border: 1.5px solid var(--color-pokemon-type-fairy-2);
    }

    @media screen and (max-width: 720px) {
        border: 1px solid var(--color-pokemon-type-fairy-2);
    }
}
.progress-type-grass {
    --color: var(--color-pokemon-type-grass-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-grass-2);
  }
  .progress-type-grass::-moz-progress-bar,
  .progress-type-grass::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-normal {
    --color: var(--color-pokemon-type-normal-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-normal-2);
  }
  .progress-type-normal::-moz-progress-bar,
  .progress-type-normal::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-fire {
    --color: var(--color-pokemon-type-fire-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-fire-2);
  }
  .progress-type-fire::-moz-progress-bar,
  .progress-type-fire::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-water {
    --color: var(--color-pokemon-type-water-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-water-2);
  }
  .progress-type-water::-moz-progress-bar,
  .progress-type-water::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-flying {
    --color: var(--color-pokemon-type-flying-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-flying-2);
  }
  .progress-type-flying::-moz-progress-bar,
  .progress-type-flying::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-fighting {
    --color: var(--color-pokemon-type-fighting-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-fighting-2);
  }
  .progress-type-fighting::-moz-progress-bar,
  .progress-type-fighting::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-poison {
    --color: var(--color-pokemon-type-poison-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-poison-2);
  }
  .progress-type-poison::-moz-progress-bar,
  .progress-type-poison::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-electric {
    --color: var(--color-pokemon-type-electric-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-electric-2);
  }
  .progress-type-electric::-moz-progress-bar,
  .progress-type-electric::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-ground {
    --color: var(--color-pokemon-type-ground-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-ground-2);
  }
  .progress-type-ground::-moz-progress-bar,
  .progress-type-ground::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-rock {
    --color: var(--color-pokemon-type-rock-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-rock-2);
  }
  .progress-type-rock::-moz-progress-bar,
  .progress-type-rock::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-psychic {
    --color: var(--color-pokemon-type-psychic-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-psychic-2);
  }
  .progress-type-psychic::-moz-progress-bar,
  .progress-type-psychic::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-ice {
    --color: var(--color-pokemon-type-ice-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-ice-2);
  }
  .progress-type-ice::-moz-progress-bar,
  .progress-type-ice::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-bug {
    --color: var(--color-pokemon-type-bug-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-bug-2);
  }
  .progress-type-bug::-moz-progress-bar,
  .progress-type-bug::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-ghost {
    --color: var(--color-pokemon-type-ghost-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-ghost-2);
  }
  .progress-type-ghost::-moz-progress-bar,
  .progress-type-ghost::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-steel {
    --color: var(--color-pokemon-type-steel-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-steel-2);
  }
  .progress-type-steel::-moz-progress-bar,
  .progress-type-steel::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-dragon {
    --color: var(--color-pokemon-type-dragon-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-dragon-2);
  }
  .progress-type-dragon::-moz-progress-bar,
  .progress-type-dragon::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-dark {
    --color: var(--color-pokemon-type-dark-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-dark-2);
  }
  .progress-type-dark::-moz-progress-bar,
  .progress-type-dark::-webkit-progress-value {
    background: var(--color);
  }
  
  .progress-type-fairy {
    --color: var(--color-pokemon-type-fairy-3);
    background: var(--color-dark);
    border: 2px solid var(--color-pokemon-type-fairy-2);
  }
  .progress-type-fairy::-moz-progress-bar,
  .progress-type-fairy::-webkit-progress-value {
    background: var(--color);
  }


  .fe-type-grass img {
    display: flex;
    justify-content: center;
    background-color: var(--color-pokemon-type-grass-3);
    border: 2px solid var(--color-pokemon-type-grass);

    -active img {
        scale: 1.2;
        background-color: var(--color-pokemon-type-grass-2);
        border: 2px solid var(--color-pokemon-type-grass-3);
        transition-duration: 0.3s;
    }
  }

  /* view transition */
  @view-transition {
    navigation: auto;
  }

  ::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;
  }
  
  ::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
  }


  .evolution-grass {

  .active {
    background-color: var(--color-pokemon-type-grass-3);
  }
}
