#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#body-index {
    display: grid;
    grid-template-columns: 30% 70%;

    h1 {
        font-size: 24px;
        background-color:  var(--color-primary-daylight):
    }
}

#header {
    background-color: var(--color-darkgrey);

}

#header-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#controller {
    display: flex;

    align-items: flex-end;
}

main {
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    grid-template-rows: repeat(6 ,1fr);
    gap: 0.4em;
    padding: 1em;
    background-color: var(--color-primary-daylight);
}

#name {
    display: none;
}

article:hover ~ #name {
    display: block;
}