.body-index-2 {
    height: 100%;
}

.detail-article {
    display: grid;
    width: 75%;
    height: 75%;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 40% 80%;
    border-radius: 3em;
    padding: 2em;

    @media screen and (max-width: 1080px) { 
        grid-template-rows: 40% 40% 10%;
        grid-template-columns: 100%;
    }

    @media screen and (max-width: 700px) { 
        grid-template-rows: 40% 50% 10%;
        grid-template-columns: 100%;
    }
}

#pokemon-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-article {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 15% 10%;
    grid-template-rows: 50% auto;
    gap: 1em;

    @media screen and (max-width: 1080px) { 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-template-columns: 15% 15% 15% 20% 25%;
        grid-template-rows: 20% 60% 20%;
    }
}

#pokemon-avatar {
    grid-row: 1/2;
    margin-left: 2em;
    margin-top: 2em;

    @media screen and (max-width: 1080px) { 
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column: 1/5;
        margin-left: 6em;

    }

    @media screen and (max-width: 600px) { 
        scale: 0.7;
        margin-left: -1em;
    }

}

#pokemon-name {
    grid-column-start: 2;
    grid-column-end: 6;
    font-size: 78px;

    @media screen and (max-width: 1080px) { 
        font-size: 48px;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    @media screen and (max-width: 500px) { 
        font-size: 32px;
    }
}

#pokemon-id {
    grid-column-start: 6;
    grid-row: 1/2;
    rotate: -90deg;
    font-size: 48px;

    @media screen and (max-width: 1080px) { 
        font-size: 32px;
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
 
    }

    @media screen and (max-width: 500px) { 
        font-size: 24px;
    }
}

#pokemon-xp {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    img {
        filter: var(--brightness);
    }

    @media screen and (max-width: 1080px) { 
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        scale: 0.5;
    }
}

#pokemon-xp-text {
    position: relative;
    top: -5em;
    left: 2em;
    color: var(--color-dark);
}

#pokemon-weight {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;

    img {
        filter: var(--brightness);
    }

    @media screen and (max-width: 1080px) { 
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        scale: 0.5;
    }
}

#pokemon-weight-text {
    position: relative;
    top: -5em;
    left: 2em;
    color: var(--color-dark);
    font-size: 10px;
}

#pokemon-length {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;

    img {
        filter: var(--brightness);
    }

    @media screen and (max-width: 1080px) { 
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        scale: 0.5;
    }
}

#pokemon-length-text {
    position: relative;
    top: -10em;
    right: 3em;
    color: var(--color-dark);
    font-size: 12px;
    rotate: -90deg;
}


#pokemon-type {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 6;
    margin-top: 2em;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1080px) { 
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        margin-top: -1em;
    }
}

#pokemon-ability {
    grid-row-start: 2;
    grid-column-start: 6;
    grid-column-end: 8;
    font-family: "Pokemon-font";

    @media screen and (max-width: 1080px) { 
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        margin-top: -1em;
        font-size: 8px;
    }
}

ul {
    list-style-type: none;
}

#progressbar-article {
    position: relative;
    padding: 1em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: column;
    font-family: "Pokemon-font";

  
    progress {
      width: 100%;    
      height: 2em;
      background-color: var(--color-grey);
      appearance: none;    
      -webkit-appearance: none;
      border: var(--border-desktop);
    }

    progress[value] {
        height: 2em;
        background-color: var(--color-day);
      }
  
    @media screen and (max-width: 1080px) { 
      grid-row-start: 2;
      grid-row-end: 3;
      margin-top: 0;
    }
  }

progress::-moz-progress-bar {
    background: var(--color-pokemon-type);
  }
  
  progress::-webkit-progress-bar {
    background-color: var(--color-day);
  }
  
  progress::-webkit-progress-value {
    color: var(--color-night);
  }

#pokemon-textfield {
    display: flex;
    justify-content: space-between;
}



  

  #first-evolution {
    display: flex;
    justify-content: center;
    position: relative;


  }

  #second-evolution {
    display: flex;
    justify-content: center;
    position: relative;
  }

  #third-evolution {
    display: flex;
    justify-content: center;
    position: relative;
  }


  #animation-hover-2 {
    display: none;
    position: absolute;
    top: -2em;      
    right: 1em;
    width: 100%; 
    animation: animation-hover 1s forwards;
    z-index: 1;

    p {
        z-index: 2;
        position: relative;
        bottom: 8em;
        left: 3em;
        color: white;
        text-transform: uppercase;
    }
}

@supports (animation: animation-hover 1s forwards) {
    #animation-hover-2 {
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }
  }

#evolutionbar-article {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    gap: 5px;

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    @media screen and (max-width: 1080px) { 
        display: grid;
        grid-column-start: 1;
        grid-row-start: 3;
        margin-top: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }


    @media screen and (max-width: 500px) { 
        display: grid;
        grid-column-start: 1;
        grid-row-start: 3;
        margin-top: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#first-evolution {
    display: flex;
    justify-content: center;
    border-radius: 2em;
    background-color: var(--color-dark);
    border: var(--border-desktop);
    min-width: 0;
    flex: 1 1 0;
    max-width: 100%;


    img:hover {
        animation: 1s forwards shadow-scale;
    }

    img:hover ~ #animation-hover-2 {
        display: block;
    
    }

    img:checked {
        animation: 1s forwards shadow-scale;
    }

    img:checked ~ #animation-hover-2 {
        display: block;
    
    }
}


#second-evolution {
    display: flex;
    justify-content: center;
    border-radius: 2em;
    background-color: var(--color-dark);
    border: var(--border-desktop);
    min-width: 0;
    flex: 1 1 0;
    max-width: 100%;

    img:hover {
        animation: 1s forwards shadow-scale;
    }

    img:hover ~ #animation-hover-2 {
        display: block;
    
    }
    img:checked {
        animation: 1s forwards shadow-scale;
    }

    img:checked ~ #animation-hover-2 {
        display: block;
    
    }
}

#third-evolution {
    display: flex;
    justify-content: center;
    border-radius: 2em;
    background-color: var(--color-dark);
    border: var(--border-desktop);
    min-width: 0;
    flex: 1 1 0;
    max-width: 100%;

    img {
        width: 100%;

        @media screen (min-width:1080px) {
            width: 50%;
        }
    }


    img:hover {
        animation: 1s forwards shadow-scale;
    }

    img:hover ~ #animation-hover-2 {
        display: block;
    
    }


    img:checked {
        animation: 1s forwards shadow-scale;
    }

    img:checked ~ #animation-hover-2 {
        display: block;
    
    }
}



#arrow {
    position: relative;
    right: 2.5em;
    top: -0.5em;
}

#go-back {
    margin: 1em;
}

