
.detail-article {
    display: grid;
    width: 75%;
    height: 75%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 80%;
    border-radius: 3em;
}


#pokemon-detail {
    display: flex;
    justify-content: center;
    align-items: center;

}



#header-article {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 15% 15% 10%;
    grid-template-rows: 50% auto;
}

#pokemon-avatar {
    grid-row: 1/2;
    margin-left: 2em;
    margin-top: 2em;

}

#pokemon-name {
    grid-column-start: 2;
    grid-column-end: 6;
    font-size: 48px;
}

#pokemon-id {
    grid-column-start: 7;
    grid-row: 1/2;
    rotate: -90deg;
}

#pokemon-xp {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#pokemon-weight {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

#pokemon-height {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

#pokemon-type {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}

#pokemon-ability {
    grid-row-start: 2;
    grid-column-start: 6;
    grid-column-end: 7;
    font-family: "Pokemon-font";
}

ul {
    list-style-type: none;
}

#progressbar-article {
    padding: 1em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    font-family: "Pokemon-font";

    &progress {
        height: 2em;
        background-color: var(--color-grey);
    }
}

#pokemon-textfield {
    display: flex;
    justify-content: space-between;
}

#evolutionbar-article {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    div:nth-of-type(1) {
        width: 100%;
        height: 4em;
        background-color: rgb(191, 92, 92);
        border: black solid 1px;
      }

    div {
        width: 100%;
        height: 2em;
        background-color: white;
        border: black solid 1px;
      }
}


#arrow {
    position: relative;
    right: 2.5em;
    top: -0.5em;
}

#go-back {
    margin: 1em;
}

progress[value]-x {
    --color:  var(--color-pokemon-type-x);
    --background:  var(--color-day);
    --border: 2px solid var(--color-pokemon-type-x-2);
  
    border: 2px solid var(--color-pokemon-type-fairy-2);
    background: var(--background);
  }
  progress[value]::-moz-progress-bar {
    background: var(--color);
  }