
.detail {
    border-radius: 3em;
    width: 75%;
    height: 75%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 70%;
}


#pokemon-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-article {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 30% 70%;
}

#progressbar-article {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    font-family: "Pokemon-font";

    &.progress {
        height: 2em;
        background-color: var(--color-grey);
    }


}

#evolutionbar-article {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    div:nth-of-type(1) {
        width: 100%;
        height: 4em;
        background-color: rgb(191, 92, 92);
        border: black solid 1px;
      }

    div {
        width: 100%;
        height: 2em;
        background-color: white;
        border: black solid 1px;
      }
}


#arrow {
    position: relative;
    right: 2.5em;
    top: -0.5em;
}

#go-back {
    margin: 1em;
}