{% render 'views/partials/head.liquid', title: 'PokeApp' %}

<body id="body-index">

{% render 'views/partials/nav.liquid' %}

<main id="error-page">

<h2>No pokemons found</h2>

    <script src="../script/audio.js" defer></script>


</body>
</html>