{% render 'views/partials/head.liquid', title: 'PokeApp' %}

<body id="body-index">

{% render 'views/partials/nav.liquid' %}

<main id="error-page">

<div id="error">
    <img src="../assets/general/error-page.gif" alt="weedle-turning-around" height="100" width="100">
    <h2 id="error-h2">404 Error page</h2>
</div>



    <script src="../script/audio.js" defer></script>


</body>
</html>