{% render 'views/partials/head.liquid', title: 'PokeApp' %}

<body id="body-index">
<nav id="header">
    <picture>
        <scource srcset="../assets/general/PokemonLogo-1.avif" type="image/avif">
        <scource srcset="../assets/general/PokemonLogo-1.webp" type="image/webp">
    <img src="../assets/general/PokemonLogo-1.png" alt="pokemon-logo" width="200" height="50">
    </picture>

    <h1>All Pokemons</h1>
    {% comment %} in de form element kan je opzoek gaan naar de pokemon {% endcomment %}
    <label>Search</label>
    <form action="search" method="get">
        <input type="search" name="p" required>
    </form>

    <button id="pokemon-button"> All Pokemons </button>

    <button id="darkmode"> Dark</button>
    <button id="lightmode"> Light</button>
</nav>
<main id="overview">

    {% for p in pokemons %}
        <article>
        <h2 id="name"><a href="/pokemon/{{ forloop.index }}">{{ p.name | capitalize }}</a></h2>
        <img 
            src="{{ p.sprite }}" 
            height="100" 
            width="100" 
            alt="{{ p.name }}"
            onclick="playAudio()"
            aria-hidden="true"
            >
            
            <audio>
                <source src="../assets/general/cries_pokemon_latest_7.ogg" typ="audio/ogg" id="audio">
            </audio>

        </article>
        {% comment %} de achtergrondkleur is hetzelfde als de achtergrond van de pokemontype {% endcomment %}
{% endfor %}
</main>



    <script src="../script/audio.js" defer></script>


</body>
</html>